extends layouts/main

block content
  h1 Payment Successful 🎉
  p Order ID:
    strong= orderId
  p Transaction ID:
    strong= transactionId
  p Amount paid:
    strong $#{amount}
  p Download receipt:
    a.btn.btn-primary.mt-3(
      href=`${downloadUrl}`
    ) Download

  if restaurantId
    a.btn.btn-primary.mt-3(
      href=`/p12/map?restaurantId=${restaurantId}`
    ) Track your order
  else
    p.text-muted No restaurant to show.
